<li>
  <a href="#<%= page['anchor'] %>"><%= page['title'] %></a>
</li>
<% if page['children'] %>
  <ul>

    <% page['children'].each do |child| %>
      <%= render partial: 'help_nav_menu_item', locals: {page: child} %>
  <% end  %>
  </ul>
<% end %>