<div class='section' id='main_section'>
  <%= render partial: 'help_display' %>
</div>

<div class='section' id='nav_section' role='complimentary'>
  <%= render partial: 'help_nav' %>
</div>

<script type='text/javascript'>
  function set_help_height() {
    $('#main_section').css(
      'height',
      window.innerHeight - 180
    );
    $('.help_list').css(
      'height',
      window.innerHeight - 180 - 30
    );

  }

  $(window).resize(function() {
    set_help_height();
  });
  $(document).ready(function() {
    set_help_height();
  });
</script>
