<div class='play_controls'>
  <div class=button id='play_button'></div>
  <div class=button id='stop_button'></div>
  <div class=user_vol_holder>
    <input id="user_vol" type="range" min="0" max="1" step="0.001" value='0.7' />
  </div>
</div>