<h2>Synth: <%= synth.name %></h2>

<%= render partial: 'synths/synth_parameters', locals: {synth: synth} %>

<%= render partial: 'synths/melody_table', locals: {synth: synth} %>

<%= render partial: 'synths/envelope', locals: {synth: synth} %>