<% 
  split_point = (synth.display_parameters.count.to_f / 2.0).ceil
  split_point = 0 if split_point < 0
%>

<div class=row>

  <div class='col-md-6'>
    <dl>
 
      <% synth.display_parameters[0..(split_point - 1)].each do |param| %>
        <%= display_parameter(synth, param) %>
      <% end %>

    </dl>
  </div>

  <div class='col-md-6'>
    <dl>
      <% synth.display_parameters[(split_point)..-1].each do |param| %>
        <%= display_parameter(synth, param) %>
      <% end %>
    </dl>
  </div>

</div>
