<div class=section>
  <div role="tabpanel">

    <ul class='nav nav-tabs' role='tablist'>
      <li role=presentation class='active'>
        <a href='#pattern_diagram' aria-controls='pattern_diagram' role=tab data-toggle="tab">
          <%= t('.overview') %>
        </a>
      </li>
      <li role=presentation>
        <a href='#console' aria-controls='console' role=tab data-toggle="tab">
          <%= t('.terminal') %>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role=tabpanel class="tab-pane active" id=pattern_diagram>
        <%= render partial: 'patterns_table' %>
      </div>

      <div role=tabpanel class="tab-pane" id=console>
        <%= render partial: 'messages/console' %>
      </div>

    </div>
  </div>
</div>