//= require_tree

$section_background: #aaaaaa ;

.holder {
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

.play_controls {
  height:55px;
  background-color: #cccccc;
  padding: 10px;
  border-radius:10px;
  width: 90px;
}

.button {
  margin: 2px;
}

#play_button {
  float:left;
  height: 0px;
  width: 0px;
  border-left: 30px #777777 solid;
  border-top: 15px solid transparent ;
  border-bottom: 15px solid transparent;
  border-radius: 5px;
}

#stop_button {
  height: 30px;
  width: 30px;
  background-color: #777777;
  border-radius: 4px;
  float:left;
}

.section {
  width: 100%;
  min-height: 50px;
  padding: 20px;
  margin-bottom: 10px ;
  border-radius: 20px;
  background-color: $section_background ;
  color: white;
}
