//= require_tree

$section_background: #aaaaaa;
$header_background: #999999;
$menu-hover: #444444;
$menu-inactive: #666666;
$menu-active: #aaaaaa;
$link-colour: white;
$font-colour: white;
$play-control-background: #cccccc;
$play-control-button: #777777;
$inactive-tab-background: #888888;
$active-tab-background: #555555;
$hover-tab-background: #222222;
$tab-border: black;

.holder {
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

.header {
  width:100%;
  height: 130px;
  background-color: $header_background;
  color: $font-colour;
  border-radius: 30px;
  padding: 20px;
  margin-top:0px;
  margin-bottom:10px;
}

.header .header_menu {
  float: left;
  width:100%;
  margin-top:10px;
}

.header .header_menu ul.nav li:hover a {
  background-color: $menu-hover;
}

.header .header_menu ul.nav li a {
  background-color: $menu-inactive;
}

.header .header_menu ul.nav li.active a {
  background-color: $menu-active;
}

.header .header_menu ul.nav li a {
  color: $link-colour;
}

.header .header_menu ul.nav li a:visited {
  color: $link-colour;
}

.header .title{
  width:500px;
  float: left;
  height: 30px;
}

.header .title h1{
  margin-top: 2px;
  margin-left: 10px;
  font-size: 50px;
}

.play_controls {
  float:left;
  height:55px;
  background-color: $play-control-background;
  padding: 10px;
  border-radius:10px;
  width: 160px;
}

.button {
  margin: 2px;
}

#play_button {
  float:left;
  height: 0px;
  width: 0px;
  border-left: 30px $play-control-button solid;
  border-top: 15px solid transparent ;
  border-bottom: 15px solid transparent;
  border-radius: 5px;
}

#stop_button {
  height: 30px;
  width: 30px;
  background-color: $play-control-button;
  border-radius: 4px;
  float:left;
}

.user_vol_holder {
  float: left;
  width: 100px;
  height: 30px ;
  padding-top:7px;
}

#user_vol {
  width: 100px;
}

.section {
  width: 100%;
  min-height: 50px;
  padding: 20px;
  margin-bottom: 10px ;
  border-radius: 20px;
  background-color: $section_background ;
  color: $link-colour;
}

.nav-tabs li a {
  color: $link-colour;
  background-color: $inactive-tab-background;
}

.nav-tabs li.active a {
  color: $link-colour;
  background-color: $active-tab-background;
  border-color: $tab-border;
}

.nav-tabs li:hover a {
  color: $link-colour;
  background-color: $hover-tab-background;
  border-color: $tab-border;
}
.nav-tabs li.active:hover a {
  color: $link-colour;
  background-color: $hover-tab-background;
  border-color: $tab-border;
}
