$console-background: black;
$console-text: #00ff00;
$console-error: #ff0000;
$console-failure: #ffff00;
$input-background: #333333;
$button-background: #777777;
$button-light: white;
$button-shadow: #555555;

#console {
  min-height: 390px;
}

#console #readout {
  float:left;
  width: 100%;
  height: 300px;  
  border-radius: 5px;
  background-color: $console-background;
  color: $console-text;
  padding: 10px;
  overflow-y: auto;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

#console #readout .input {
  color: $console-text;
}

#console #readout .success {
  color: $console-text;
}

#console #readout .error {
  color: $console-error;
}

#console #readout .failure {
  color: $console-failure;
}

#console #input {
  float: left;
  width: 89%;
  height: 45px;
  border-radius: 5px;
  background-color: $input-background;
  padding: 5px;
  margin-top:10px;
}

#console #submit {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;

  float: right;
  width: 10%; 
  height: 45px;
  margin-top: 10px;
  background-color: $button-background;
  border-radius: 5px ;
  text-align: center;
  font-size: 30px;
  padding:2px;
  border-top: solid $button-light 2px;
  border-left: solid $button-light 2px;
  border-bottom: solid $button-shadow 2px;
  border-right: solid $button-shadow 2px;
}

#console #submit:active, #console #submit.active {
  border-top: solid $button-shadow 2px;
  border-left: solid $button-shadow 2px;
  border-bottom: solid $button-light 2px;
  border-right: solid $button-light 2px;
}

