$step_size: 15px ;

$marker-background: #dddddd;
$inactive-background: #ffffff;
$note-start: #555555;
$note-middle: #999999;
$muted-note-start: #aaaaaa;
$muted-note-middle: #cccccc;
$active-note: #666666;

.indicator {
  width: $step_size;
  height: $step_size;
  border-radius:$step_size / 2;
  float: left;
}

// indicators, red, yellow, green
.pre{
  background-color:#FF0000;
}
.loading{
  background-color: #ffff00;
}
.done{
  background-color: #00FF00;
}

table.patterns{
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

table.patterns thead tr th.step_header {
  padding: 0px;
  margin: 0px;
  font-size:10px;
  text-align: center;
}


table.patterns tbody tr td.step {
  padding: 0px;
  margin: 0px;
}

table.patterns tbody tr td {
  font-size:10px;
}

table.patterns tbody tr td.step div {
  width: $step_size ;
  height: $step_size ;
  padding: 0px;
  margin: 0px;
  border: 1px black solid;
}


table.patterns tbody tr td.step.inactive div {
  background-color: $inactive-background ;
}

table.patterns tbody tr td.step.inactive.marker div {
  background-color: $marker-background;
}

table.patterns tbody tr td.step.active div {
  background-color: $note-middle;
}


table.patterns tbody tr.muted td.step.active div {
  background-color: #bbbbbb;
}

table.patterns tbody tr.overview_melody {
}
table.patterns tbody tr.overview_melody th {
}
table.patterns tbody tr.overview_melody td.step div {
  width: $step_size ;
  height: $step_size / 5 ;
  border-width: 0px;
  border-left: 1px lightgrey solid;
}

table.patterns tbody tr.overview_melody  td.step.note_start div {
  background: linear-gradient(to right, $note-start, $note-middle, $note-middle) ;
}


table.patterns tbody tr.overview_melody  td.step.note_continues div {
  background-color: $note-middle ;
}

table.patterns tbody tr.overview_melody  td.step.note_end div {
  background: linear-gradient(to right, $note-middle, $inactive-background) ;
}

table.patterns tbody tr.overview_melody  td.step.marker.note_end div {
  background: linear-gradient(to right, $note-middle, $marker-background) ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_start div {
  background: linear-gradient(to right, $muted-note-start, $muted-note-middle, $muted-note-middle) ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_continues div {
  background-color: $muted-note-middle ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_end div {
  background: linear-gradient(to right, $muted-note-middle, $inactive-background) ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_end div {
  background: linear-gradient(to right, $muted-note-middle, $marker-background) ;
}