$step_size: 15px ;


.indicator {
  width: $step_size;
  height: $step_size;
  border-radius:$step_size / 2;
  float: left;
}

// indicators, red, yellow, green
.pre{
  background-color:#FF0000;
}
.loading{
  background-color: #ffff00;
}
.done{
  background-color: #00FF00;
}

table.patterns{
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

table.patterns thead tr th.step_header {
  padding: 0px;
  margin: 0px;
  font-size:10px;
  text-align: center;
}


table.patterns tbody tr td.step {
  padding: 0px;
  margin: 0px;
}

table.patterns tbody tr td.step div {
  width: $step_size ;
  height: $step_size ;
  padding: 0px;
  margin: 0px;
  border: 1px black solid;
}


table.patterns tbody tr td.step.inactive div {
  background-color: #ffffff ;
}

table.patterns tbody tr td.step.inactive.marker div {
  background-color: #dddddd;
}

table.patterns tbody tr td.step.active div {
  background-color: #666666 ;
}


table.patterns tbody tr.muted td.step.active div {
  background-color: #bbbbbb;
}

table.patterns tbody tr.overview_melody {
}
table.patterns tbody tr.overview_melody th {
}
table.patterns tbody tr.overview_melody td.step div {
  width: $step_size ;
  height: $step_size / 2 ;
  border-width: 0px;
  border-left: 1px lightgrey solid;
}

table.patterns tbody tr.overview_melody  td.step.note_start div {
  background-color: #555555 ;
}

table.patterns tbody tr.overview_melody  td.step.note_continues div {
  background-color: #999999 ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_start div {
  background-color: #aaaaaa ;
}

table.patterns tbody tr.muted.overview_melody  td.step.note_continues div {
  background-color: #dddddd ;
}

