$step_size: 15px;
$marker-background: #dddddd;
$inactive-background: #ffffff;
$note-start: #555555;
$note-middle: #999999;
$muted-note-start: #aaaaaa;
$muted-note-middle: #cccccc;

table.synth_pattern{
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

table.synth_pattern thead tr th.step_header {
  padding: 0px;
  margin: 0px;
  font-size:10px;
  text-align: center;
}

table.synth_pattern tbody tr th {
  font-size:5px;
}

table.synth_pattern tbody tr td.step {
  padding: 0px;
  margin: 0px;
}

table.synth_pattern tbody tr td.step div {
  width: $step_size ;
  height: $step_size / 2 ;
  padding: 0px;
  margin: 0px;
  border-left: 1px lightgrey solid;
}

table.synth_pattern tbody tr td.step.inactive div {
  background-color: $inactive-background;
}

table.synth_pattern tbody tr td.step.inactive.marker div {
  background-color: $marker-background;
}

table.synth_pattern tbody tr  td.step.note_start div {
  background: linear-gradient(to right, $note-start, $note-middle, $note-middle) ;
}

table.synth_pattern tbody tr  td.step.note_continues div {
  background-color: $note-middle;
}

table.synth_pattern tbody tr  td.step.note_end div {
  background: linear-gradient(to right, $note-middle, $inactive-background) ;
}

table.synth_pattern tbody tr  td.step.marker.note_end div {
  background: linear-gradient(to right, $note-middle, $marker-background) ;
}


table.synth_pattern tbody tr.muted  td.step.note_start div {
  background: linear-gradient(to right, $muted-note-start, $muted-note-middle, $muted-note-middle) ;
}

table.synth_pattern tbody tr.muted  td.step.note_continues div {
  background-color: $muted-note-middle;
}

table.synth_pattern tbody tr.muted  td.step.note_end div {
  background: linear-gradient(to right, $muted-note-middle, $inactive-background) ;
}

table.synth_pattern tbody tr.muted  td.step.marker.note_end div {
  background: linear-gradient(to right, $muted-note-middle, $marker-background) ;
}

