$step_size: 15px ;

table.synth_pattern{
  border: none;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

table.synth_pattern thead tr th.step_header {
  padding: 0px;
  margin: 0px;
  font-size:10px;
  text-align: center;
}

table.synth_pattern tbody tr th {
  font-size:5px;
}

table.synth_pattern tbody tr td.step {
  padding: 0px;
  margin: 0px;
}

table.synth_pattern tbody tr td.step div {
  width: $step_size ;
  height: $step_size / 2 ;
  padding: 0px;
  margin: 0px;
  border-left: 1px lightgrey solid;
}

table.synth_pattern tbody tr td.step.inactive div {
  background-color: #ffffff ;
}

table.synth_pattern tbody tr td.step.inactive.marker div {
  background-color: #dddddd;
}

table.synth_pattern tbody tr  td.step.note_start div {
  background: linear-gradient(to right, #555555, #999999, #999999) ;
}

table.synth_pattern tbody tr  td.step.note_continues div {
  background-color: #999999 ;
}

table.synth_pattern tbody tr  td.step.note_end div {
  background: linear-gradient(to right, #999999, #ffffff) ;
}

table.synth_pattern tbody tr  td.step.marker.note_end div {
  background: linear-gradient(to right, #999999, #dddddd) ;
}


table.synth_pattern tbody tr.muted  td.step.note_start div {
  background: linear-gradient(to right, #aaaaaa, #cccccc, #cccccc) ;
}

table.synth_pattern tbody tr.muted  td.step.note_continues div {
  background-color: #cccccc ;
}

table.synth_pattern tbody tr.muted  td.step.note_end div {
  background: linear-gradient(to right, #cccccc, #ffffff) ;
}

table.synth_pattern tbody tr.muted  td.step.marker.note_end div {
  background: linear-gradient(to right, #cccccc, #dddddd) ;
}

